@model Models.ViewModel.ForgetPasswordVerfiyCodeVM
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger text-center">
                    @TempData["VerfiyCode"]
                </div>

            }
            <div class="card">
                <div class="card-header">
                    <h5>Please enter your verfication code</h5>
                    <p> we have sent verfication code to your registered email</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row px-4 py-3">
                            <label asp-for="@Model.VerficationCode"></label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.VerficationCode" class="form-control" placeholder="Verfication Code" />
                          
                            </div>
                            <span asp-validation-for="@Model.VerficationCode" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary" asp-action="ForgetPasswordVerfiyCode">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
 
}
